/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background-image: url("/images/site/small_check.jpg");
}
#wrapper {
  background-color: white;
  border: 1px solid gray;
  width: 75%;
  margin: 0 auto;
  padding: .5rem;
}
h1, h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#top-header {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

#top-header a {
  text-decoration: none;
  color: black;
}

.siteName {
  font-size: 2rem;
}

nav {
  background-color: black;
  padding: .25rem;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  color: white;
  text-decoration: none;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li:hover {
  transform: scale(1.3);
  transition: .5s;
}

#hero-section {
  position: relative;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 1rem ;
}
#hero-section img {
  width: 100%;
}

#hero-features {
  position: absolute;
  left: 5px;
  top: 5px;
  color:darkcyan;
  background-color: rgb(255, 255, 255, .5);
  padding: 1rem;
}

#hero-features h2, #hero-features p {
  margin: 0;
} 

#hero-features button {
  background-color: darkcyan;
  padding: 1rem;
  margin-top: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
}

#vehicle-status {
  display: flex;
  justify-content: space-around;
}

#upgrades-section {
  width: 40%;
}

#upgrades-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.upgrades {
  width: 45%;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.upgrades img {
  background-color: darkcyan;
  height: 50%;
  padding: 5% 20% 5% 20%;
}
#reviews-section {
  width: 40%;
}
#reviews-section li {
  margin: .5rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer {
  padding: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#inv-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#inv-display li {
  margin: 1rem;
  width: 300px;
  border: 1px solid black;
  padding: .5rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#inv-display li a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 600px) {
  #wrapper {
    width: 100%;
  }
  #hero-section {
    width: 90%;
  }
  #vehicle-status {
    flex-direction: column-reverse;
    background-color: lightgray;
    padding: 2rem;
  }
  #upgrades-section, #reviews-section {
    margin: 0 auto;
    width: 100%;
  }
}